  {% extends "layout.html" %}

  {% block body %}
  <form method="POST" action="{{ url_for('reseptit_change') }}">
    <table>
      <div class="container">
       <div class="row">
        <div class="col">
      {% for resepti in reseptilistanen %}
        <td>
        <tr>
         <div class="card-group">
           <div class="card">
             <div class="card-body">
             <h5 class="card-title">{{ resepti.name }}</h5>
             <p class="card-text">{{ resepti.kuvaus }}</p>
          </div>
         </div>
        </div>
        </td>
        {% endfor %}
        </div>
        <div class="col">
         <th> Muutettava resepti </th>
        <td>
         <div class="card-group">
           <div class="card">
             <div class="card-body">
             {{ form.name.label }}
             {{ form.name }}
             {{ form.newname.label }}
             {{ form.newname }}
             <input type="submit" value="Vaihda reseptin nimi"/>
          </div>
         </div> 
        </div>  
        </td>
        </div>
        </div>
        <td>
          <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
  </form>
 </table>
  {% endblock %}

