{% extends "layout.html" %}

{% block body %}
  <th> Reseptit </th>
  <table>
    {%for resepti in reseptilista %}
      <td>
      <tr>
      <div class="card-group">
       <div class="card" style="width: 18rem;">
         <div class="card-body">
           <h5 class="card-title">{{ resepti.name }}</h5>           
           <h6 class="card-subtitle mb-2 text-muted"> Ohje </h6>
           <p class="card-text">{{ resepti.kuvaus }}</p>
           </li>
           <a href="{{ url_for('reseptit_edit') }}" class="card-link">Muokkaa reseptiä</a>
           <form method="POST" action="{{ url_for('reseptit_delete', resepti_id=resepti.id) }}">
           <input type="submit" value="Poista resepti"/>
          </form>
         </div>
       </div>  
      </tr>
      </td>
    {% endfor %}
  </table>
{% endblock %}
